@{
    ViewBag.Title = "Home";
}
<script type="text/javascript">
    $(document).ready(function () {
        var entities = new EntityDeck('entities');
        entities.LoadTable("vendor");
    });

    var EntityDeck = function(containerId) {
        this.containerId = containerId;
        this.getTableVendor = '@Url.Action("GetTableVendor")';
    }
    EntityDeck.prototype = {
        LoadTable: function (entityName) {
            var action;
            switch (entityName) {
                case "vendor":
                    action = this.getTableVendor;
                    break;
                default:
                    console.error("Could not load " + entityName + ". There is no table associated with that name.");
                    return;
            }
            $.ajax({
                type: 'POST',
                url: action,
                dataType: 'html',
                success: function(data) {
                    $('#entities').append(data);
                }
            });
        },
        RemoveTable: function(entityName) {
            $('[data-entity="' + entityName + '"]').remove();
        },
        ReloadTable: function(entityName) {
            RemoveTable(entityName);
            LoadTable(entityName);
        }
    }
</script>
<div class="d-flex justify-content-center mb-4">
    <div class="px-3">
        <span class="fa fa-square text-primary"></span>
        <small>Strong Entity</small>
    </div>
    <div class="px-3">
        <span class="fa fa-square text-success"></span>
        <small>Weak Entity</small>
    </div>
    <div class="px-3">
        <span class="fa fa-square text-danger"></span>
        <small>Associative Entity</small>
    </div>
</div>
<div id="entities" class=""></div>